<footer class="footer">
    <div class="footer__logo-box">

        <i class="footer__logo icon-basic-compass"></i>
        <h2 class="heading-secondary footer__logo-text">MediGuide</h2>
        <!-- <picture class="footer__logo">
            <source srcset="../assets/logo-green-small-1x.png 1x, ../assets/logo-green-small-2x.png 2x"
                    media="(max-width: 37.5em)">
            <img srcset="../assets/logo-green-1x.png 1x, ../assets/logo-green-2x.png 2x" alt="Full logo" src="../assets/logo-green-2x.png">
        </picture> -->


        
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <div class="footer__navigation">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">Company</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Contact us</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Carrers</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Privacy policy</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
                </ul>
            </div>
        </div>
        <div class="col-1-of-2">
            <p class="footer__copyright">
                Built for medical tourism hackaton 2023
            </p>
        </div>
    </div>
</footer>