.search-form-field {
  display: block;
  position: relative;
  text-align: left;
  margin: auto;
  width: 30rem;
  background: white;
  font-size: 1.8rem;
  padding: 1.5rem 3rem;
  border-radius: 1.5rem;
}

.section-services {
  margin: auto;
  width: 50%;
}
