<div id="page-wrapper">
  <header>
    <h1 routerLink="/">Medical Tourism Booking</h1>
    <!-- <img id="logo" src="" alt="logo" />
    <nav>
      <span routerLink="/" routerLinkActive="active">Home</span>
      <span routerLink="/map" routerLinkActive="active">Map</span>
      <span routerLink="/blog" routerLinkActive="active">Blog</span>
    </nav> -->
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>

<footer>
  <!-- <button mat-raised-button>Ask a Question</button> -->
  <p>&copy; 2023</p>
</footer>
