#map-page-wrapper {
  display: flex;
  background-color: #f7f7f7;
}

#map-left-side {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 0px;
  padding: 20px 20px;
  justify-content: space-around;
}

#map-controls {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

#listed-markers {
  min-height: 250px;
}

#map-wrapper {
  flex: 3 1 auto;
}

.clinic-marker-label {
  color: black;
}

google-map {
  height: calc(100vh - 128px);
  display: block;
}

#map-checkboxes {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  & .app-checkbox {
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.listed-markers-clickable {
  cursor: pointer;
  & span {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
}

.map-info-window-content {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}

.info-container-header {
  display: flex;
  align-items: flex-start;
}

.info-container-header .head-image-small {
  width: 20rem;
  height: 20rem;
  border-top-left-radius: 15px;
  object-fit: cover;
  margin-right: 25px;
}

.info-container-header-about .title {
  color: #f1f1f1;
  margin: 0;
  margin-top: 15px;
  font-size: 3rem;
  font-weight: bold;
}

.rating-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 3rem;
  font-weight: bold;
  padding-left: 10px;
}

.map-info-window-content .stars {
  margin-left: 5px;
}

.contact-info .contact-line {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 20px;
  color: #7a7a7a;
  font-weight: 450;
  gap: 15px;
}

.fa {
  font-size: 45px;
}

.map-info-window-content .contact-text {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 450;
}

.info-container-header-about p {
  margin-top: 2rem;
  height: 50px;
  color: #e5e5e5;
  font-weight: 450;
}

.contact-info {
  font-size: 20px;
}

::ng-deep .gm-style-iw[role="dialog"] {
  padding: 0px;
  border-radius: 15px;
  & .gm-style-iw-d {
    padding: 0px;
    overflow: visible !important;
  }

  & .gm-ui-hover-effect {
    top: 1rem !important;
    right: 1rem !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
    font-size: 1.5rem !important;

    & span {
      height: 2.2rem !important;
      width: 2.2rem !important;
      margin: 0 !important;
    }
  }
}

.residential {
  background: linear-gradient(
    270deg,
    rgba(45, 150, 251, 1) 0%,
    rgba(73, 91, 251, 1) 100%
  );
}

.medical {
  background: linear-gradient(
    270deg,
    rgba(251, 5, 35, 1) 0%,
    rgba(134, 0, 0, 1) 100%
  );
}

.offer {
  background: linear-gradient(
    270deg,
    rgba(255, 181, 0, 1) 0%,
    rgba(254, 120, 47, 1) 100%
  );
}

.welness {
  background: linear-gradient(
    270deg,
    rgba(125, 213, 109, 1) 0%,
    rgba(43, 181, 132, 1) 100%
  );
}

::ng-deep .gm-ui-hover-effect {
  top: 10px !important;
  right: 10px !important;
  width: 25px !important;
  height: 25px !important;
  font-size: 15px !important;
}

.stars {
  color: #ffd700;
}

.fa-star-half-stroke:before {
  content: "\f089";
}

.rating-section .stars i {
  display: inline-block;
}

.details-link {
  padding-left: 1rem;
  padding-bottom: 1rem;
  text-align: end;
  display: inline-block;
}

.search-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  mat-form-field {
    width: 40rem;
  }
}

.marker-info-window-desc {
  font-size: 1.5rem;
}
