<div class="profile-page">
  <div class="profile-card">
    <img
      class="profile-picture-big"
      src="assets/woman-profile.jpg"
      alt="Profile Picture"
    />
    <h3 class="profile-name heading-tertiary">Laura Linney</h3>
    <div class="profile-info">
      <div class="profile-input-container">
        <i class="fa-solid fa-envelope fa-lg"></i>

        <mat-form-field class="app-form-field">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            placeholder="Ex. pat@example.com"
            value="laura@gmail.com"
          />
        </mat-form-field>
      </div>

      <div class="profile-input-container">
        <i class="fa-solid fa-lock"></i>
        <mat-form-field class="app-form-field">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            value="laura@gmail.com"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="profile-input-container">
        <i class="fa-solid fa-phone fa-lg"></i>
        <mat-form-field class="app-form-field">
          <mat-label>Telephone</mat-label>
          <!-- <span matPrefix>+382 &nbsp;</span> -->
          <input
            type="tel"
            matInput
            placeholder="0XX XXX XXX"
            value="+382 0611474553"
          />
        </mat-form-field>
      </div>

      <div class="profile-input-container">
        <i class="fa-solid fa-credit-card"></i>
        <mat-form-field class="app-form-field">
          <mat-label>Credit card</mat-label>
          <!-- <span matPrefix>+382 &nbsp;</span> -->
          <input
            type="tel"
            matInput
            placeholder="XXXX XXXX XXXX XXXX"
            value="4012 **** **** 1881"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
  <mat-tab-group
    class="profile-navigation"
    mat-stretch-tabs="true"
    mat-align-tabs="center"
  >
    <mat-tab label="Bookings">
      <!-- <div class="booking-cards">
        <div class="booking-card"></div>
      </div> -->
      <div class="nav nav--nested">
        <!-- <div class="nav-header">
          <h2
            style="
              font-family: Lato;
              color: #6168a2;
              padding: 10px 0;
              font-size: 20px;
            "
          >
            Services
          </h2>
        </div> -->

        <div class="services-container">
          <div class="service1">
            <div class="section section1">
              <h2><b>Rhinoplasty</b></h2>
              <p>Surgical procedure that reshapes the nose.</p>
              <div class="booking-info">
                <div><i class="fa fa-calendar" aria-hidden="true"></i></div>

                <span>23.07.2023.</span>
              </div>

              <div class="booking-info">
                <div><i class="fa fa-home" aria-hidden="true"></i></div>

                <span>Timeless Beauty Plastic Surgery</span>
              </div>

              <!-- <button class="price" style="font-size: 20px">2000€</button> -->
            </div>
            <div class="section section2"></div>
          </div>

          <div class="service2">
            <div class="section section1">
              <h2><b>Facelift</b></h2>
              <p>Surgical procedure that tightens drooping tissues.</p>
              <div class="booking-info">
                <div><i class="fa fa-calendar" aria-hidden="true"></i></div>

                <span>23.07.2023.</span>
              </div>

              <div class="booking-info">
                <div><i class="fa fa-home" aria-hidden="true"></i></div>

                <span>Timeless Beauty Plastic Surgery</span>
              </div>

              <!-- <button class="price" style="font-size: 20px">3000€</button> -->
            </div>
            <div class="section section3"></div>
          </div>
        </div>

        <button class="icon next" style="transform: rotate(180deg)">
          <svg title="Next"><use xlink:href="#next"></use></svg>
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Bookmarks">
      <div class="nav nav--nested">
        <!-- <div class="nav-header">
          <h2
            style="
              font-family: Lato;
              color: #6168a2;
              padding: 10px 0;
              font-size: 20px;
            "
          >
            Services
          </h2>
        </div> -->

        <div class="services-container">
          <div class="service3">
            <div class="section section1">
              <h2>Liposuction</h2>
              <p>Surgical procedure used to remove unwanted body fat.</p>
              <button class="price" style="font-size: 20px">2500€</button>
            </div>
            <div class="section section4"></div>
          </div>
        </div>

        <button class="icon next" style="transform: rotate(180deg)">
          <svg title="Next"><use xlink:href="#next"></use></svg>
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
