<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

  <label for="navi-toggle" class="navigation__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>

  <img
    routerLink="profile"
    src="assets/woman-profile.jpg"
    alt="profile"
    class="profile-picture navigation__button"
  />

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="#section-map" (click)="closeNav()" class="navigation__link"
          ><span>01</span>Book now</a
        >
      </li>

      <li class="navigation__item">
        <a href="#section-tours" (click)="closeNav()" class="navigation__link"
          ><span>02</span>Popular tours</a
        >
      </li>

      <li class="navigation__item">
        <a href="#section-about" (click)="closeNav()" class="navigation__link"
          ><span>03</span>About MediGuide</a
        >
      </li>

      <li class="navigation__item">
        <a href="#section-stories" (click)="closeNav()" class="navigation__link"
          ><span>04</span>Stories</a
        >
      </li>

      <li class="navigation__item">
        <a routerLink="register" (click)="closeNav()" class="navigation__link"
          ><span>05</span>Register</a
        >
      </li>

      <li class="navigation__item">
        <a routerLink="profile" (click)="closeNav()" class="navigation__link"
          ><span>06</span>Profile</a
        >
      </li>
    </ul>
  </nav>
</div>
